---
layout: default
bodyClass: "page-teams"
---

<div class="container pt-6 pb-6">
    <div class="row">
        {% assign promoted_teams = site.team | where: "promoted", true | sort: "weight" %}
        {% for team in promoted_teams %}
        <div class="col-lg-4 mb-3">
            <div class="team team-summary team-summary-large">
                {% if team.image %}
                <div class="team-image">
                    <img width="250" height="250" alt="{{ team.title }}" class="img-fluid mb-2"
                        src="{{ team.image | relative_url }}" />
                </div> <br>
                {% endif %}
                <div class="team-meta">
                    <h2 class="team-name"><a href="{{ team.url | relative_url }}">{{ team.title }}</a></h2>
                    <p class="team-description">{{ team.jobtitle }}</p>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>
</div>